@font-face {
    font-family: "blacktear";
    src: url("blacktear_script/Blacktear\ Demo.ttf") format("truetype");
    font-weight: normal; /* Usa valores como normal, bold, 400, 700 */
    font-style: normal;
}